@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-dark {
    background-color: #151515;
}

ul {
    list-style: none;
}

ul li a {
    font-weight: 600;
}

.text-pur {
    color: #8c52ff;
}

.bg-pur-hover:hover {
    background-color: #8c52ff !important;
}

.border-pur {
    border-color: #8c52ff !important;
}